<form action="" method="POST">
  <label for="name">First name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="occupation">Occupation:</label><br>
  <input type="text" id="occupation" name="occupation"><br>
  <label for="occupation">Catchphrase:</label><br>
  <input type="text" id="catchPhrase" name="catchPhrase">
 <button type="submit" >Crear</button>
</form>

